extends layout
block content
    br
    br
    br
    br
    .container
      h1 Join our Shrubbery Sharers forum 
      br
      p Do you have questions about your garden? Perhaps another member can help you on our forum. 
    br