extends layout
block content
    br
    br
    br
    br
    .container
      h1 Welcome to Shrubbery Sharers
      br
      p Do you have any spare cuttings? Are you searching for that perfect orchid? If so, you've come to the right place.After realising just how expensive gardening was, I decided to help others find their perfect plant - for free. 
    br
    .container
      .row
        .col-sm-6
          img(src='SSapp/images/planthand.jpg', alt='Plant in hand')
          p Follow the links in the menu to explore
        .col-sm-6
          img(src='SSapp/images/toolswindow.jpg', alt='tools on window')