doctype html
html
  head
    title Shrubbery Sharers
    link(rel='stylesheet', href='/app.css', type='text/css"')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    .hero
      .hero-inner
        h1
          a(name='hero') Shrubbery Sharers
        a(href='home.html')
          img(src='images/mandala2med.png', title='Start sharing!')
 
