extends layout
block content
    .row
     .formHold
       h1 Log-In to youraccount
        form(method="post")
         fieldset
          label(for="name") User Name:
          input(name="name", type="text", Placeholder="User Name") 
          label(for="password") Product Images:
          input(name="password", type="text", Placeholder="Password") 
          button.button(type="submit") Register